# ensure cotengra appears as a python project on github
*.ipynb linguist-language=Python
# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true