name: Tests

on:
  workflow_dispatch:
  push:
  pull_request:

defaults:
  run:
    shell: bash -l {0}

jobs:
  run-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
        - os: ubuntu-latest
          pixi_environment: testminimal

        - os: ubuntu-latest
          pixi_environment: testpyold

        - os: ubuntu-latest
          pixi_environment: testpynew

        - os: macos-latest
          pixi_environment: testpymid

        - os: windows-latest
          pixi_environment: testpymid

    steps:
    - uses: actions/checkout@v6

    - uses: prefix-dev/setup-pixi@v0.9.4
      with:
        environments: ${{ matrix.pixi_environment }}

    - name: Test with pytest
      run: pixi run -e ${{ matrix.pixi_environment }} test

    - name: Report to codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
