name: Tests

on:
  workflow_dispatch:
  push:
  pull_request:

defaults:
  run:
    shell: bash -l {0}

jobs:
  run-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.8', '3.9', '3.10', '3.11']
        env: [base]
        include:
        - os: macos-latest
          python-version: '3.11'
          env: mac
        - os: windows-latest
          python-version: '3.11'
          env: win

    steps:
    - uses: actions/checkout@v3

    - name: Install micromamba
      uses: mamba-org/provision-with-micromamba@v15
      with:
        environment-file: ci/requirements/py-${{ matrix.env }}.yml
        environment-name: test-env
        extra-specs: python=${{ matrix.python-version }}
        cache-env: true

    - name: Test with pytest
      run: pytest --cov=cotengra tests/ --cov-report=xml tests

    - name: Report to codecov
      uses: codecov/codecov-action@v3
